<div class="row">
  <div class="column-01">
    <mat-card class="oefeningen-card mat-elevation-z0">
      <mat-card-header>
        <mat-card-title>
          <h1 class="animated fadeIn">Oefeningen</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-nav-list>
            <a mat-list-item class="list-group-item" (click)="toonOefeningFeedback(o)" [ngClass]="{'active': oefening == o}"
              *ngFor="let o of oefeningen">{{o.naam}}</a>
          </mat-nav-list>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="column-02">
    <div *ngIf="!oefeningGekozen()">
      <mat-card class="mat-elevation-z0">
        <h4 style="display: flex; justify-content:center;">Kies aub een oefening.</h4>
      </mat-card>
    </div>
    <div *ngIf="oefeningGekozen()">
      <mat-card class="mat-elevation-z0">
        <h4 style="display: flex; justify-content:center;">{{oefening.naam}}</h4>
        <br>
        <h6 *ngIf="feedback != null">Gemiddelde score:
          <b>
            {{calculateFeedbackPercentage(feedback)}}%
          </b>
        </h6>
        <h6 *ngIf="feedback == null">
          <b>
            Geen feedback
          </b>
        </h6>
      </mat-card>
      <mat-card style="margin-top:10px" *ngIf="feedback" class="mat-elevation-z0">
        <h6>Feedback:</h6>
        <mat-list>
          <mat-list-item *ngFor="let f of feedback">- {{f.beschrijving}}</mat-list-item>
        </mat-list>
      </mat-card>
    </div>
  </div>
</div>
<mat-card class="global-card mat-elevation-z0" *ngIf="this.barChartLabels.length === this.barChartData[0].data.length">
  <mat-card-content>
    <div>
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [colors]="barChartColors"
        [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </mat-card-content>
</mat-card>