.content {
    display: block;
    padding-left: 35px;
    max-width: 300px;
    margin-top: 20px;
}

.cards {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    align-content: center;
    align-items: center;
}

.cards .content {
    align-self: auto;
}

h1 {
    text-align: left;
    padding-top: 20px;
    display: inline-block;
    margin-left: 20px;

}


.card-body {
  background-color: rgb(175,219,206);
  border: solid #60993E 2px;
  border-radius: 5px;
}

.build {
  position: absolute;
  top: 10px;
  right: 10px;
}

.add {
  font-size: inherit;
  position: relative;
  top: 3px;
  right: -2px;
}

.knop {
  margin-left: 45px;
  float: left;
  margin-top: 30px;
}

.form-control {
    max-width: 200px;
    display: inline;
}

label {
    padding-left: 20px;
    padding-right: 10px;
}
