.content {
    display: block;
    padding-left: 35px;
    max-width: 300px;
    margin: 50px;
}

.cards {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
    align-items: center;
}

.cards .content {
    align-self: auto;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

.row {
    text-align: center;
}

.midden {
    text-align: center;
}

.toevoegKnop {
  float: right;
}

.form-control {
    max-width: 200px;
    display: inline;
}

label {
    padding-left: 20px;
    padding-right: 10px;
}
