<div class="container-inline">
  <div class="form-container loginmodal-container">

    <h2>Gelieve U aan te melden</h2>
    <span class="error" *ngIf="error">{{error}}</span>

    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
      <input type="text" placeholder="Email adres" (ngModel)="email" name="email" class="input" required>
      <br>
      <input type="password" placeholder="Wachtwoord" (ngModel)="password" name="password" class="input" required>
      <br>

      <button type="submit" [disabled]="!formData.valid" class="login loginmodal-submit">Inloggen</button>
    </form>

    
  </div>
</div>