.container-inline {
  padding: 2%;
}

.titel {
  text-align: center;
}

.pijl {
  font-size: 50px;
  position: absolute;
  left: 1%;
  color: black;
}

.row {
  margin-top: 2%;
  margin-left: 3%;
}

.bestand {
  margin-left: 5%;
}

.card {
  border-radius: 5px;
}

.bewerk {
  position: absolute;
  right: 50px;
  top: 140px;
}

.card-header {
  background-color: gray;
}

.card-body {
  background-color: lightgray;

}

p {
  margin-top: 5%;
}

audio {
  width: 100%;
}

