<div class="rightfloat">
  <button mat-button (click)="toggleEditMode()" disabled="{{editMode}}" tabindex=-1>
    <mat-icon>edit</mat-icon>
  </button>
</div>
<br>
<div *ngIf="!editMode" class="oefeningDetail">
  <div mat-dialog-content>
    <h4>Oefening:</h4>
    <p>{{oef.naam}}</p>
    <h4>Beschrijving:</h4>
    <p id="beschrijving">{{oef.beschrijving}}</p>
    <h4>Bestand:</h4>
    <!-- AUDIO -->
    <audio controls *ngIf="oef.fileMimetype.startsWith('audio')">
      <source src="{{oef.url}}" type="audio/ogg">
      Your browser does not support the audio element.
    </audio>
    <!-- PDF -->
    <button mat-stroked-button color="primary" style="font-weight: 100" tabindex=-1 (click)="openBestand()" *ngIf="oef.fileMimetype.startsWith('application')"><strong>Open
        bestand</strong>
    </button>
    <!-- VIDEO -->
    <video *ngIf="oef.fileMimetype.startsWith('video/mp4')" width="320" height="240" controls>
      <source src="{{oef.url}}" type="video/mp4">
      Your browser does not support this video.
    </video>
    <br>
    <br>
    <h4>Zichtbaar voor volgende groepen:</h4>
    <p *ngIf="oef.groepen === null">geen groepen geselecteerd</p>
    <p>{{oef.groepen}}</p>
  </div>
  <div mat-dialog-actions class="rightfloat">
    <button mat-button (click)="onNoClick()" tabindex=-1>Annuleren</button>
    <button mat-flat-button [color]="'warn'" (click)="oefeningVerwijderen()" tabindex=-1><strong>Verwijderen</strong></button>
  </div>
</div>

<div *ngIf="editMode">
  <div mat-dialog-content>
    <h4>Oefening wijzigen</h4>
    <form [formGroup]="oefeningFormGroup">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Naam van de oefening" value="{{oef.naam}}" formControlName="oefeningNaam" id="oefeningNaam">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Beschrijving van de oefening" matTextareaAutosize matAutosizeMinRows="2"
          matAutosizeMaxRows="5" value="{{oef.beschrijving}}" formControlName="oefeningBeschrijving" id="oefeningBeschrijving"></textarea>
      </mat-form-field>
    </form>
    Zichtbaar voor volgende groepen:
    <div *ngFor='let nummer of groepNummers'>
      <mat-checkbox (change)="checkGroep($event, nummer)" [checked]="isChecked(oef, nummer)">
        {{ nummer }}
      </mat-checkbox>
      <br>
    </div>
  </div>
  <div mat-dialog-actions class="rightfloat">
    <button mat-button (click)="onNoClick()" [mat-dialog-close]="false">Annuleren</button>
    <button mat-flat-button (click)="oefeningOpslaan()" tabindex=-1 disabled="{{!oefeningFormGroup.valid}}" [mat-dialog-close]="true"><strong>Opslaan</strong></button>
  </div>
</div>
