<mat-sidenav-container class="berichten-container">
  <mat-sidenav mode="side" opened>
    <mat-card>
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon matListIcon>forum</mat-icon>
          </ng-template>
          <mat-list class="klanten-gesprekken">
            <mat-list-item
              *ngFor="let item of klanten"
              (click)="kiesGesprek(item)"
            >
              {{ item.naam }}
            </mat-list-item>
          </mat-list>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </mat-sidenav>

  <section class="empty-conversation" *ngIf="!gekozenChatUser">
    <h1 class="mat-display-1">Geen Gesprek geselecteerd.</h1>
  </section>

  <section *ngIf="gekozenChatUser">
    <div class="conversation-header" mat-typography>
      {{ gekozenChatUser.naam }}
    </div>
    <mat-divider></mat-divider>
    <mat-list dense class="conversation-history mat-typography">
      <mat-list-item *ngFor="let message of messages">
        <div class="messageadmin" *ngIf="message.admin" style="text-align: right;">
          <p class="berichtText">{{ message.content }}</p>
          <p class="miniText">-{{ message.messageTime | date: "short" }}</p>
        </div>

        <div class="messageClient" *ngIf="!message.admin">
          <p class="berichtText">{{ message.content }}</p>
          <p class="miniText">-{{ message.messageTime | date: "short" }}</p>
        </div>
      </mat-list-item>
    </mat-list>
    <div class="conversation-input">
      <mat-divider></mat-divider>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Typ hier"
          name="text"
          [(ngModel)]="text"
          (keyup.enter)="stuurBericht(text)"
        />
        <mat-icon matSuffix (click)="stuurBericht(text)">send</mat-icon>
      </mat-form-field>
    </div>
  </section>
</mat-sidenav-container>
