<div class="row">
  <div class="column-01">
    <mat-card class="mat-elevation-z0">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon matListIcon>forum</mat-icon>
          </ng-template>
          <mat-list>
            <mat-list-item class="klanten-gesprekken"
              *ngFor="let item of klanten; index as i"
              (click)="kiesGesprek(item)"
              style="cursor: pointer;">
              {{ item.naam }} ({{ongelezen[i]}})
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
  <div class="column-02">
    <mat-card class="mat-elevation-z0">
      <section class="empty-conversation" *ngIf="!gekozenChatUser">
        <h1 class="mat-display-1">Geen gesprek geselecteerd.</h1>
      </section>

      <section *ngIf="gekozenChatUser">
        <div class="conversation-header" mat-typography>
          <h2>{{ gekozenChatUser.naam }}</h2>
        </div>
        <mat-divider></mat-divider>
        <mat-list dense class="conversation-history mat-typography">
          <mat-list-item
            class=" messageGeneral"
            style="height: auto;"
            *ngFor="let message of messages">
            <div class="messageAdmin" *ngIf="message.admin">
              <p class="berichtText">{{ message.content }}</p>
              <p class="miniText">
                {{ message.messageTime | date: "dd/MM/yyyy" }}
              </p>
            </div>

            <div class="messageClient" *ngIf="!message.admin">
              <p class="berichtText">{{ message.content }}</p>
              <p class="miniText">
                {{ message.messageTime | date: "dd/MM/yyyy" }}
              </p>
            </div>
          </mat-list-item>
        </mat-list>

        <div class="conversation-input">
          <mat-divider></mat-divider>
          <mat-form-field class="full-width">
            <textarea
              matInput
              placeholder="Typ hier"
              name="textChat"
              [(ngModel)]="textChat"
              oninput= 'this.style.height = "";this.style.height = this.scrollHeight + "px"'
            ></textarea>
            <mat-icon matSuffix (click)="stuurBericht(textChat)">send</mat-icon>
          </mat-form-field>
        </div>
      </section>
    </mat-card>
  </div>
</div>