.row {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.oef {
  display: inline;
}

.beschrijving {
  margin-bottom: 50px;
}

.sessienaam {
  text-decoration: underline;
}

.toevoegKnop {
  margin-top: 20px;
  color: white;
  border: 0px;
  border-radius: 0;
}

.toevoegKnop:hover {
  background-color: rgb(248,139,31);
  color: black;
}

.bewerk {
  position: absolute;
  top: 10px;
  right: 25px;
  background-color: rgb(248,139,31);
  border: 0;
  border-radius: 0;
}

.bewerk:hover {
  color: black;
}

.list-group-item.active {
  z-index: 2;
  background-color: #26A65B;
  border: 1px solid darkgray;
}

.list-group-item:hover {
  background-color: #87D37C;
  color: white;
}

.opslaanKnop {
  background-color: rgb(248,139,31);
  border: 0;
}

.opslaanKnop:hover {
  color: black;
}

