<div class="container-inline">
  <div class="row">
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <div *ngFor="let sessie of sessies" class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list"
          href="#list-home" role="tab" aria-controls="home" (click)="toonSessieInfo(sessie)">
          <a>{{sessie.naam}}</a>
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-lg btn-block knop toevoegKnop" data-toggle="modal" data-target="#sessieToevoegModal">
        Sessie toevoegen
      </button>
    </div>
    <div *ngIf="sessieGekozen()" class="col-8">
      <div class="tab-content" id="nav-tabContent">
        <div class="info">
          <h1 class="sessienaam">{{_sessie.naam}}</h1>
          <button type="button" class="btn knop bewerken" data-toggle="modal" data-target="#bewerkModal">bewerken</button>
          <div class="row">
            <div class="col-7 beschrijving">{{_sessie.beschrijving}}
            </div>
           <div class="col-1"></div>
            <div class="col-2 oefeningen">
              <div *ngFor='let localOefening of oefeningen'> <app-oefening [oefening]='localOefening'></app-oefening></div>
              <a routerLink="/oefeningenlijst"><div class="card bg-light mb-3 grow">
                  <div class="card-body">
                      <p class="plus">+</p>
                    </div>
                </div></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="sessieToevoegModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sessie toevoegen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="sessienaam" class="col-form-label">Sessienaam:</label>
            <input type="text" class="form-control" id="sessienaam" #naam>
          </div>
          <div class="form-group">
            <label for="sessiebeschrijving" class="col-form-label">Beschrijving:</label>
            <textarea class="form-control" id="sessiebeschrijving" rows="5" #beschrijving></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary annuleerKnop" data-dismiss="modal">Annuleer</button>
        <button type="submit" class="btn btn-primary knop" data-dismiss="modal" (click)="voegSessieToe(naam.value, beschrijving.value)">Opslaan</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="bewerkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sessie bewerken</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label for="sessienaam" class="col-form-label">Sessienaam:</label>
              <input type="text" class="form-control" id="sessienaam" value="{{_sessie.naam}}" #bewerkNaam>
            </div>
            <div class="form-group">
              <label for="sessiebeschrijving" class="col-form-label">Beschrijving:</label>
              <textarea class="form-control" id="sessiebeschrijving" value="{{_sessie.beschrijving}}" rows="5" #bewerkBeschrijving></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary annuleerKnop" data-dismiss="modal">Annuleer</button>
          <button type="submit" class="btn btn-primary opslaanKnop" data-dismiss="modal" (click)="bewerkSessie(bewerkNaam.value, bewerkBeschrijving.value, _sessie.sessieId)">Opslaan</button>
        </div>
      </div>
    </div>
  </div>

