<mat-card class="aankondigingen-card mat-elevation-z0">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
          Vorige
        </div>
        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Vandaag
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
          Volgende
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" (click)="view = CalendarView.Month" [class.active]="view === CalendarView.Month">
          Maand
        </div>
        <div class="btn btn-primary" (click)="view = CalendarView.Week" [class.active]="view === CalendarView.Week">
          Week
        </div>
        <div class="btn btn-primary" (click)="view = CalendarView.Day" [class.active]="view === CalendarView.Day">
          Dag
        </div>
      </div>
    </div>
  </div>
  <br>

  <div [ngSwitch]="view" class="aklist">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" [locale]="locale">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      [locale]="locale">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      [locale]="locale">
    </mwl-calendar-day-view>
  </div>
  <br>

  <h3>
    Aankondigingen
    <br>
    <button mat-raised-button color="primary" style="background-color: #0069D9" (click)="openDialog()">
      Nieuwe aankondiging
    </button>
    <div class="clearfix"></div>
  </h3>

  <div class="aklist">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Titel</th>
          <th>Datum</th>
          <th>Groep</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let announcement of events">
          <td>
            {{announcement.title}}
          </td>
          <td>
            {{announcement.start | date : 'mediumDate'}}
          </td>
          <td>
            {{announcement.groep}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-card>
