.container {
  padding: 1%;
  background-color: rgb(207, 197, 170);
  border-radius: 10px;
  width: 50%;
}

.form-control {
  background-color: white;
}

.container-inline {
  padding: 2%;
  padding-top: 1%;
}

.titel {
  text-align: center;
}

label {
  font-weight: bold;
}

.knop {
  margin-top: 2%;
}

.pijl {
  font-size: 50px;
  position: absolute;
  left: 1%;
  color: black;
}

a:hover {
  text-decoration: none;
}
