/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.sessies-card{
  margin: 15px;
}

.sessies-card-groep{
  margin: 5px;
  display: inline-block;
  width: auto;
}

.active, .btn:hover {
  background-color: #0069D9;
  color: white;
}

.remove-icon {
  color: red;
}