/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-family: helvetica;
  font-size: 18px;
  font-weight: 400;
  color: #171717;
}

.title {
  text-align: center;
  font-family: helvetica;
  font-weight: 300;
  font-size: 68px;
  color: #171717;
}

.container-inline {
  margin: 0;
  background-color: rgb(246,241,228);
  min-height: calc(100% - 100px);
}

.topcontainer {
  background-color: rgb(175,219,206);
  height: 10%
}

.knop {
  background-color: rgb(248,139,31);
  border: 0;
  border-radius: 0;
  color: white;
}

.knop[disabled] {
  background-color: rgb(250, 195, 93);
}

.knop[disabled]:hover {
  background-color: rgb(250, 195, 93);
  color: white;
}

.knop:hover {
  color: black;
  background-color: rgb(248,139,31);
}

.annuleerKnop {
  border-radius: 0;
}

.annuleerKnop:hover {
  color: black;
}

.error {
  color: red;

}
