/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

.container-inline {
  margin: 0;
  background-color: rgb(246,241,228);
  min-height: calc(100% - 100px);
}

.topcontainer {
  background-color: rgb(175,219,206);
  height: 10%
}
